<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package uri="http://www.eclipse.org/emf/2002/Tree" class="org.eclipse.emf.edit.tree.TreePackage" genModel="model/Tree.genmodel" />
  </extension>

  <extension-point id="itemProviderAdapterFactories" name="%_UI_ItemProviderAdapterFactory_extensionpoint" schema="schema/itemProviderAdapterFactories.exsd" />
  <extension-point id="childCreationExtenders" name="%_UI_ChildCreationExtender_extensionpoint" schema="schema/childCreationExtenders.exsd" />

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory uri="org.eclipse.emf.ecore.resource" class="org.eclipse.emf.edit.provider.resource.ResourceItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>

  <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
    <factory uri="http://www.eclipse.org/emf/2002/Tree" class="org.eclipse.emf.edit.tree.provider.TreeItemProviderAdapterFactory" supportedTypes="org.eclipse.emf.edit.provider.IEditingDomainItemProvider
          org.eclipse.emf.edit.provider.IStructuredItemContentProvider
          org.eclipse.emf.edit.provider.ITreeItemContentProvider
          org.eclipse.emf.edit.provider.IItemLabelProvider
          org.eclipse.emf.edit.provider.IItemPropertySource" />
  </extension>
</plugin>