<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 *
 * Copyright (c) 2002-2004 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *
 * </copyright>
 *
 * $Id: plugin.xml,v 1.4.2.2 2007/07/24 23:54:27 nickb Exp $
 */
-->

<plugin
   id="org.eclipse.emf.mapping"
   name="%pluginName"
   version="2.0.2"
   provider-name="%providerName"
   class="org.eclipse.emf.mapping.MappingPlugin$Implementation">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.emf.edit" export="true"/>
   </requires>

   <runtime>
      <library name="runtime/mapping.jar">
         <export name="*"/>
         <packages prefixes="org.eclipse.emf.mapping"/>
      </library>
   </runtime>

   <extension-point name="Mapping Domain Configuration" id="configuration" />

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/emf/2002/Mapping"
            class="org.eclipse.emf.mapping.MappingPackage">
      </package>
   </extension>

</plugin>
