a.footnote:link    { text-decoration: none; }
a.footnote:visited { text-decoration: none; }
a.footnote:hover   { text-decoration: underline; }

tt.code            { color: #4444CC; }

.highlight         {  background-color: #FFFFCC; }
