  /*<![CDATA[*/

  /* Font Definitions */
  @font-face
        {font-family:Courier;
        panose-1:2 7 4 9 2 2 5 2 4 4;}

  /* Style Definitions */
  p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
        margin-bottom:.0001pt;
        font-size:12.0pt;
        font-family:"Times New Roman";}
  p.MsoFootnoteText, li.MsoFootnoteText, div.MsoFootnoteText
        {margin:0in;
        margin-bottom:.0001pt;
        font-size:10.0pt;
        font-family:"Times New Roman";}
  p.MsoCommentText, li.MsoCommentText, div.MsoCommentText
        {margin:0in;
        margin-bottom:.0001pt;
        font-size:10.0pt;
        font-family:"Times New Roman";}
  p.MsoHeader, li.MsoHeader, div.MsoHeader
        {margin:0in;
        margin-bottom:.0001pt;
        font-size:12.0pt;
        font-family:"Times New Roman";}
  p.MsoFooter, li.MsoFooter, div.MsoFooter
        {margin:0in;
        margin-bottom:.0001pt;
        font-size:12.0pt;
        font-family:"Times New Roman";}
  span.MsoFootnoteReference
        {vertical-align:super;}
  p.MsoTitle, li.MsoTitle, div.MsoTitle
        {margin:0in;
        margin-bottom:.0001pt;
        text-align:center;
        font-size:14.0pt;
        font-family:"Times New Roman";
        font-weight:bold;}
  @page Section1
        {size:11.0in 8.5in;
        margin:1.25in 1.0in 1.25in 1.0in;}
  div.Section1
        {page:Section1;}

  span.c25 {font-size:9.0pt;font-family:"Courier New"}
  span.c24 {font-size:8.0pt;font-family:Courier}
  p.c23 {text-indent:.5in}
  span.c22 {font-size:9.0pt; font-family:"Courier New"}
  span.c21 {font-size:10.0pt;font-family:"Times New Roman"}
  hr.c20 {text-align: left}
  table.c19 {border-collapse:collapse;border:none}
  span.c18 {font-size: 10.0pt}
  p.c17 {font-weight: bold; text-autospace: none}
  span.c16 {font-size: 10.0pt;background:white}
  td.c15 {width:190.3pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt}
  td.c14 {width:195.7pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt}
  span.c13 {font-size:10.0pt}
  td.c12 {width:181.6pt;border-top:none;border-left: none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt}
  td.c11 {width:169.6pt;border:solid windowtext 1.0pt; border-top:none;padding:0in 5.4pt 0in 5.4pt}
  p.c10 {text-autospace:none}
  span.c9 {font-size:10.0pt; background:white}
  td.c8 {width:190.3pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt}
  td.c7 {width:195.7pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt}
  td.c6 {width:181.6pt;border:solid windowtext 1.0pt; border-left:none;padding:0in 5.4pt 0in 5.4pt}
  span.c5 {font-size:12.0pt;font-family:"Times New Roman"}
  td.c4 {width:169.6pt;border:solid windowtext 1.0pt; padding:0in 5.4pt 0in 5.4pt}
  p.c3 {text-align: center; text-autospace: none}
  span.c2 {background:white}
  p.c1 {text-align: center}
  
  /*]]>*/
