  /*<![CDATA[*/

body{font-family:Verdana,Arial,Helvetica;font-size:8pt}
.normal{font-family:Verdana;font-size:8pt}
p{font-family:Verdana;font-size:8pt}
a.category{text-decoration:none;font-size:8pt;font-family:Verdana,Arial,Helvetica;font-weight:bold}
a:hover.category {text-decoration:underline}
.whatsnew {border-left:solid #8ABDBF 1px; border-right:solid #8ABDBF 1px;border-bottom:solid #8ABDBF 1px;}
a.subcategory{text-decoration:none;font-size:8pt;font-family:Verdana,Arial,Helvetica}
a:hover.subcategory {text-decoration:underline}

  /* Font Definitions */
  @font-face
        {font-family:Courier;
        panose-1:2 7 4 9 2 2 5 2 4 4;}
  @font-face
        {font-family:Helv;
        panose-1:2 11 6 4 2 2 2 3 2 4;}
  @font-face
        {font-family:"Arial Black";
        panose-1:2 11 10 4 2 1 2 2 2 4;}

  /* Style Definitions */
  p.MsoNormal, li.MsoNormal, div.MsoNormal
        {margin:0in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:10.0pt;
        font-family:"Times New Roman";}
  h1
        {margin-top:14.0pt;
        margin-right:0in;
        margin-bottom:0in;
        margin-left:0in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:14.0pt;
        font-family:"Arial Black";
        color:black;
        font-weight:normal;}
  h2
        {margin-top:6.0pt;
        margin-right:0in;
        margin-bottom:0in;
        margin-left:0in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:Arial;
        color:black;}
  h3
        {margin-top:6.0pt;
        margin-right:0in;
        margin-bottom:0in;
        margin-left:0in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.MsoTitle, li.MsoTitle, div.MsoTitle
        {margin-top:0in;
        margin-right:0in;
        margin-bottom:12.0pt;
        margin-left:0in;
        text-align:center;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:24.0pt;
        font-family:"Arial Black";
        color:black;}
  p.DefaultText1, li.DefaultText1, div.DefaultText1
        {margin:0in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.Endnote, li.Endnote, div.Endnote
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.Jav, li.Jav, div.Jav
        {margin-top:0in;
        margin-right:0in;
        margin-bottom:0in;
        margin-left:.15in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:9.0pt;
        font-family:"Courier New";
        color:black;}
  p.Footnote, li.Footnote, div.Footnote
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.XML, li.XML, div.XML
        {margin-top:0in;
        margin-right:0in;
        margin-bottom:0in;
        margin-left:.15in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:9.0pt;
        font-family:"Courier New";
        color:black;}
  p.Note, li.Note, div.Note
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;
        font-style:italic;}
  p.OutlineNotIndented, li.OutlineNotIndented, div.OutlineNotIndented
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.OutlineIndented, li.OutlineIndented, div.OutlineIndented
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.TableText, li.TableText, div.TableText
        {margin:0in;
        margin-bottom:.0001pt;
        text-align:right;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.NumberList, li.NumberList, div.NumberList
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.FirstLineIndent, li.FirstLineIndent, div.FirstLineIndent
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:.5in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.Bullet2, li.Bullet2, div.Bullet2
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.Bullet1, li.Bullet1, div.Bullet1
        {margin:0in;
        margin-bottom:.0001pt;
        text-indent:0in;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.BodySingle, li.BodySingle, div.BodySingle
        {margin:0in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  p.DefaultText, li.DefaultText, div.DefaultText
        {margin:0in;
        margin-bottom:.0001pt;
        punctuation-wrap:simple;
        text-autospace:none;
        font-size:12.0pt;
        font-family:"Times New Roman";
        color:black;}
  span.mono
        {font-family:Courier;}
  /* Page Definitions */
  @page Section1
        {size:8.5in 11.0in;
        margin:1.0in 1.0in 1.0in 1.0in;}
  div.Section1
        {page:Section1;}
  /* List Definitions */
  ol
        {margin-bottom:0in;}
  ul
        {margin-bottom:0in;}
  
  hr.c66 {text-align: left}
  p.c65 {margin-left:.5in}
  p.c64 {margin-left:0in;text-indent:0in}
  span.c63 {font:7.0pt "Times New Roman"}
  span.c62 {font-size:12.0pt;font-family:Arial;color:black}
  span.c61 {font-size:12.0pt;font-family:"Times New Roman"; color:black}
  span.c60 {font-size:10.0pt; font-family:Courier;color:blue;background:white}
  span.c59 {font-size:10.0pt;font-family:Courier;color:teal;background:white}
  span.c58 {font-size:10.0pt;font-family: Courier;color:blue;background:white}
  span.c57 {font-size:10.0pt;font-family:Courier;color:purple; background:white}
  span.c56 {font-size:10.0pt;font-family:Courier;color:blue;background:white}
  span.c55 {font-size:10.0pt;font-family:Courier;background:white}
  span.c54 {font-size:10.0pt;font-family:Courier;color:purple;background:white}
  span.c53 {font-size:10.0pt; font-family:Courier;color:teal;background:white}
  span.c52 {font-size:10.0pt;font-family: Courier;background:white}
  span.c51 {font-size:9.0pt;font-family:Courier; color:teal;background:white}
  span.c50 {font-size:9.0pt;font-family:Helv}
  span.c49 {font-size:10.0pt;font-family:Courier; color:blue;background:white}
  span.c48 {font-size: 9.0pt;font-family:Courier}
  span.c47 {font-family:Courier}
  span.c46 {font-size:10.0pt;font-family:Courier; background:white}
  span.c45 {font-size:10.0pt}
  p.c44 {font-style: italic}
  span.c43 {font-size:9.0pt;font-family:Courier;color:black;background:white}
  span.c42 {background:white}
  span.c41 {font-size: 9.0pt;font-family:Courier;background:white}
  span.c40 {font-size:9.0pt;font-family: Courier;color:purple;background:white}
  span.c39 {font-size:10.0pt;font-family:Courier;color:purple;background: white}
  span.c38 {font-size:10.0pt;font-family:Courier; color:purple;background:white}
  p.c37 {font-weight: bold; margin-left: .25in}
  span.c36 {font-size:10.0pt; font-family:Courier;color:purple;background:white}
  span.c35 {font-size:10.0pt; font-family:Courier;background:white}
  span.c34 {font-size:10.0pt;font-family:Courier}
  span.c33 {font-size:9.0pt;font-family:Courier; color:purple;background:white}
  span.c32 {font-size: 9.0pt;font-family:Courier;color:purple;background:white}
  span.c31 {font-size:10.0pt; font-family:Courier}
  span.c30 {font-size:10.0pt;font-family:Helv}
  span.c29 {font-size:9.0pt;font-family:Courier}
  span.c28 {font-size:12.0pt;font-family: "Times New Roman";color:black}
  span.c27 {font-size:9.0pt; font-family:Courier}
  span.c26 {font-size:9.0pt}
  span.c25 {font-size:9.0pt;font-family:Courier;color:teal;background:white}
  span.c24 {font-size:9.0pt; font-family:Courier;background:white}
  span.c23 {font-size: 9.0pt;font-family:Courier;color:teal;background:white}
  span.c22 {font-size:9.0pt;font-family:Courier; color:blue;background:white}
  span.c21 {font-size:9.0pt;font-family:Courier; background:white}
  span.c20 {font-size:9.0pt; font-family:Courier;color:blue;background:white}
  span.c19 {font-size:9.0pt; font-family:Courier;color:purple;background:white}
  p.c18 {margin-left:.25in}
  span.c17 {font-size:9.0pt;font-family: Courier;color:blue;background:white}
  span.c16 {font-size:9.0pt;font-family: Courier;background:white}
  span.c15 {font-size:9.0pt;font-family:Courier;color:purple; background:white}
  span.c14 {font-size:9.0pt;font-family:Courier;color:blue;background:white}
  span.c13 {font-size:9.0pt;font-family:Courier;background:white}
  span.c12 {font-size:9.0pt;font-family:Courier;color:purple;background:white}
  span.c11 {font-size:9.0pt; font-family:Courier;color:teal;background:white}
  span.c10 {font-size:12.0pt; font-family:"Times New Roman";color:black}
  p.c9 {font-weight: bold}
  h2.c8 {margin-top:0in}
  span.c7 {font-size:14.0pt}
  br.c6 {page-break-before:always}
  h3.c5 {margin-top:0in}
  span.c4 {font-family:Wingdings}
  span.c3 {font-size:12.0pt;font-family:"Times New Roman";color:black}
  p.c2 {text-align: center}
  h1.c1 {text-align: center}

  /*]]>*/

