<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.ui.editors">
    <editor id="org.eclipse.emf.java.presentation.JavaEditorID" name="%_UI_JavaEditor_label" icon="icons/full/obj16/JavaModelFile.gif" extensions="java" class="org.eclipse.emf.java.presentation.JavaEditor" contributorClass="org.eclipse.emf.java.presentation.JavaActionBarContributor" />
  </extension>
</plugin>