<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package uri="http://www.eclipse.org/emf/2005/Ecore2XML" class="org.eclipse.emf.mapping.ecore2xml.Ecore2XMLPackage" genModel="model/Ecore2XML.genmodel" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser type="ecore2xml" class="org.eclipse.emf.mapping.ecore2xml.util.Ecore2XMLResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="ecore2xml" type="text" />
  </extension>
</plugin>