<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 *
 * Copyright (c) 2002-2005 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Common Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/cpl-v10.html
 * 
 * Contributors: 
 *   IBM - Initial API and implementation
 *
 * </copyright>
 *
 * $Id: plugin.xml,v 1.13 2005/05/12 18:28:44 emerks Exp $
 */
-->

<plugin
    name = "%pluginName"
    id = "org.eclipse.emf.ecore"
    version = "2.1.0"
    provider-name = "%providerName" 
    class="org.eclipse.emf.ecore.plugin.EcorePlugin$Implementation">

  <requires>
    <import plugin="org.eclipse.core.runtime"/>
    <import plugin="org.eclipse.emf.common" export="true"/>
    <import plugin="org.eclipse.core.resources" optional="true"/>
  </requires>

  <runtime>
    <library name="runtime/ecore.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension-point id="generated_package" name="%_UI_PackageRegistry_extensionpoint" schema="schema/generated_package.exsd"/>
  <extension-point id="extension_parser" name="%_UI_URIExtensionParserRegistry_extensionpoint" schema="schema/extension_parser.exsd"/>
  <extension-point id="protocol_parser" name="%_UI_URIProtocolParserRegistry_extensionpoint" schema="schema/protocol_parser.exsd"/>
  <extension-point id="uri_mapping" name="%_UI_URIMappingRegistry_extensionpoint" schema="schema/uri_mapping.exsd" />

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
        uri = "http://www.eclipse.org/emf/2002/Ecore"
        class = "org.eclipse.emf.ecore.EcorePackage" 
        genModel = "model/Ecore.genmodel" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
        uri = "http://www.eclipse.org/emf/2003/XMLType"
        class = "org.eclipse.emf.ecore.xml.type.XMLTypePackage" 
        genModel = "model/XMLType.genmodel" />
  </extension>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package
        uri = "http://www.w3.org/XML/1998/namespace"
        class = "org.eclipse.emf.ecore.xml.namespace.XMLNamespacePackage" 
        genModel = "model/XMLNamespace.genmodel" />
  </extension>

  <extension
      id="diagnostic"
      name="%_UI_EMFDiagnostic_marker"
      point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <persistent value="true"/>
    <attribute name="uri"/>
  </extension>
  
</plugin>
