<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Target platform to ensure that test launches can run with BREE 1.8 OSGi profile" sequenceNumber="1">
  <locations>
    <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
      <unit id="org.eclipse.osgi" version="3.12.0.v20170118-2208"/>

      <repository location="http://download.eclipse.org/tools/orbit/downloads/latest-R"/>
    </location>
  </locations>
</target>
