<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.examples.EMF"
            name="%_UI_EMFExampleCategory_name"
            parentCategory="org.eclipse.ui.Examples">
      </category>
      <wizard
            id="org.eclipse.emf.examples.ActivitiesWizard"
            name="%_UI_ActivitiesWizard_name"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.emf.examples.EMF"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>%_UI_ActivitiesWizard_desc</description>
      </wizard>
      <wizard
            id="org.eclipse.emf.examples.LibraryModelWizard"
            name="%_UI_LibraryModelWizard_name"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.emf.examples.EMF"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>%_UI_LibraryModelWizard_desc</description>
      </wizard>
      <wizard
            id="org.eclipse.emf.examples.JavaModelWizard"
            name="%_UI_JavaModelWizard_name"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.emf.examples.EMF"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>%_UI_JavaModelWizard_desc</description>
      </wizard>
      <wizard
            id="org.eclipse.emf.examples.HTMLExporterWizard"
            name="%_UI_HTMLExporterWizard_name"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.emf.examples.EMF"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>%_UI_HTMLExporterWizard_desc</description>
      </wizard>
      <wizard
            id="org.eclipse.emf.examples.ValidatorGeneratorWizard"
            name="%_UI_ValidatorGeneratorWizard_name"
            class="org.eclipse.emf.common.ui.wizard.ExampleInstallerWizard"
            category="org.eclipse.ui.Examples/org.eclipse.emf.examples.EMF"
            project="true"
            icon="icons/full/ctool16/NewEMFExample.gif">
         <description>%_UI_ValidatorGeneratorWizard_desc</description>
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.common.ui.examples">
      <example
            id="org.eclipse.emf.examples.Activities"
            wizardID="org.eclipse.emf.examples.ActivitiesWizard"
            pageImage="icons/full/wizban/NewEMFExample.gif">
         <projectDescriptor
               name="org.eclipse.emf.activities"
               contentURI="examples/org.eclipse.emf.activities/"
               description="%_UI_ActivitiesProject_desc"/>
      </example>
      
      <example
            id="org.eclipse.emf.examples.LibraryModel"
            wizardID="org.eclipse.emf.examples.LibraryModelWizard"
            pageImage="icons/full/wizban/NewEMFExample.gif">
         <projectDescriptor
               name="org.eclipse.emf.examples.library"
               contentURI="examples/org.eclipse.emf.examples.library/"
               description="%_UI_LibraryModelProject_desc"/>
         <projectDescriptor
               name="org.eclipse.emf.examples.library.edit"
               contentURI="examples/org.eclipse.emf.examples.library.edit/"
               description="%_UI_LibraryEditProject_desc"/>
         <projectDescriptor
               name="org.eclipse.emf.examples.library.editor"
               contentURI="examples/org.eclipse.emf.examples.library.editor/"
               description="%_UI_LibraryEditorProjector_desc"/>
      </example>
      
      <example
            id="org.eclipse.emf.examples.JavaModel"
            wizardID="org.eclipse.emf.examples.JavaModelWizard"
            pageImage="icons/full/wizban/NewEMFExample.gif">
         <projectDescriptor
               name="org.eclipse.emf.java"
               contentURI="examples/org.eclipse.emf.java/"
               description="%_UI_JavaModelProject_desc"/>
         <projectDescriptor
               name="org.eclipse.emf.java.edit"
               contentURI="examples/org.eclipse.emf.java.edit/"
        description="%_UI_JavaEditProject_desc"/>
         <projectDescriptor
               name="org.eclipse.emf.java.editor"
               contentURI="examples/org.eclipse.emf.java.editor/"
               description="%_UI_JavaEditorProjector_desc"/>
      </example>
      
      <example
            id="org.eclipse.emf.examples.HTMLExporter"
            wizardID="org.eclipse.emf.examples.HTMLExporterWizard"
            pageImage="icons/full/wizban/NewEMFExample.gif">
         <projectDescriptor
               name="org.eclipse.emf.exporter.html"
               contentURI="examples/org.eclipse.emf.exporter.html/"
               description="%_UI_HTMLExporterProject_desc"/>
      </example>
      
      <example
            id="org.eclipse.emf.examples.ValidatorGenerator"
            wizardID="org.eclipse.emf.examples.ValidatorGeneratorWizard"
            pageImage="icons/full/wizban/NewEMFExample.gif">
         <projectDescriptor
               name="org.eclipse.emf.examples.generator.validator"
               contentURI="examples/org.eclipse.emf.examples.generator.validator/"
               description="%_UI_ValidatorGeneratorProject_desc"/>
      </example>
    </extension>
</plugin>
