<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
              class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.emf.ecore.xcore.ui.editor.XcoreEditor"
              contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
              default="true"
              extensions="xcore"
              icon="icons/full/obj16/XcoreModelFile.gif"
              id="org.eclipse.emf.ecore.xcore.Xcore"
              matchingStrategy="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.editor.JavaEditorInputMatcher"
              name="%editor.name">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.eclipse.emf.ecore.xcore.Xcore.validate">
         <activeWhen>
            <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
                        value="org.eclipse.emf.ecore.xcore.Xcore"
                        forcePluginActivation="true"/>
                </with>
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.eclipse.emf.ecore.xcore.Xcore"
            name="%page.name">
            <keywordReference id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"/>
        </page>
        <page
            category="org.eclipse.emf.ecore.xcore.Xcore"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.eclipse.emf.ecore.xcore.Xcore.coloring"
            name="%page.name.0">
            <keywordReference id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"/>
        </page>
        <page
            category="org.eclipse.emf.ecore.xcore.Xcore"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.eclipse.emf.ecore.xcore.Xcore.templates"
            name="%page.name.1">
            <keywordReference id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.eclipse.emf.ecore.xcore.Xcore"
            name="%page.name.2">
            <keywordReference id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"/>
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
            <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"
            label="%keyword.label"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="%command.description"
            id="org.eclipse.emf.ecore.xcore.Xcore.validate"
            name="%command.name">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.emf.ecore.xcore.Xcore.validate"
                 style="push"
                 tooltip="%command.tooltip">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </visibleWhen>
         </command>
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
            <command commandId="org.eclipse.xtext.ui.editor.FindReferences">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                    </reference>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>

<!-- adding resource factories -->

    <extension
        point="org.eclipse.emf.ecore.extension_parser">
        <parser
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
            type="xcore">
        </parser>
    </extension>
    <extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="xcore">
        </resourceServiceProvider>
    </extension>


    <!-- marker definitions for org.eclipse.emf.ecore.xcore.Xcore -->
    <extension
            id="xcore.check.fast"
            name="Xcore Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="xcore.check.normal"
            name="Xcore Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="xcore.check.expensive"
            name="Xcore Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>

    <!-- Quick Outline -->
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
            commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>
    <extension
        point="org.eclipse.ui.commands">
        <command
            description="%command.description.0"
            id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
            name="%command.name.0">
        </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.open">
            <command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
                style="push"
                tooltip="%command.tooltip.0">
                <visibleWhen checkEnabled="false">
                    <reference definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened"/>
                </visibleWhen>
            </command>
        </menuContribution>
    </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.eclipse.emf.ecore.xcore.Xcore.compare.contentViewers"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xcore">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.eclipse.emf.ecore.xcore.Xcore.compare.contentMergeViewers"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="xcore" label="%viewer.label">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.eclipse.emf.ecore.xcore.Xcore.editors.documentProviders"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="xcore">
    </provider>
  </extension>
    <!-- quickfix marker resolution generator for org.eclipse.emf.ecore.xcore.Xcore -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.eclipse.emf.ecore.xcore.ui.xcore.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.eclipse.emf.ecore.xcore.ui.xcore.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.eclipse.emf.ecore.xcore.ui.xcore.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
      </markerResolutionGenerator>
   </extension>

   <extension
         point="org.eclipse.xtext.builder.participant">
      <participant
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant">
      </participant>
   </extension>
   <extension
            point="org.eclipse.ui.preferencePages">
        <page
            category="org.eclipse.emf.ecore.xcore.Xcore"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.eclipse.emf.ecore.xcore.Xcore.compiler.preferencePage"
            name="%page.name.3">
            <keywordReference id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            category="org.eclipse.emf.ecore.xcore.Xcore"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
            id="org.eclipse.emf.ecore.xcore.Xcore.compiler.propertyPage"
            name="%page.name.4">
            <keywordReference id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"/>
            <enabledWhen>
                <adapt type="org.eclipse.core.resources.IProject"/>
            </enabledWhen>
            <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
       <!-- Rename Refactoring -->
    <extension point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
            commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.preferencePages">
        <page
            category="org.eclipse.emf.ecore.xcore.Xcore"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
            id="org.eclipse.emf.ecore.xcore.Xcore.refactoring"
            name="%page.name.5">
            <keywordReference id="org.eclipse.emf.ecore.xcore.ui.keyword_Xcore"/>
        </page>
    </extension>

    <!-- Type Hierarchy  -->
  <extension
    point="org.eclipse.ui.handlers">
    <handler
      class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchyHandler"
      commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
      <activeWhen>
        <reference
          definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
    <handler
      class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchyHandler"
      commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy">
      <activeWhen>
        <reference
          definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
        </reference>
      </activeWhen>
    </handler>
  </extension>
  <extension point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
        style="push"
        tooltip="%command.tooltip.3">
        <visibleWhen checkEnabled="false">
          <reference definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened"/>
        </visibleWhen>
      </command>
    </menuContribution>
    <menuContribution
      locationURI="popup:#TextEditorContext?after=group.open">
      <command commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy"
        style="push"
        tooltip="%command.tooltip.4">
        <visibleWhen checkEnabled="false">
          <reference definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened"/>
        </visibleWhen>
      </command>
    </menuContribution>
  </extension>
  <extension
         point="org.eclipse.core.runtime.adapters">
      <factory class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.xtext.builder.smap.StratumBreakpointAdapterFactory"
         adaptableType="org.eclipse.xtext.ui.editor.XtextEditor">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
      </factory>
   </extension>
   <!--
   <extension point="org.eclipse.ui.editorActions">
      <editorContribution targetID="org.eclipse.emf.ecore.xcore.Xcore"
                          id="org.eclipse.emf.ecore.xcore.Xcore.ide.rulerActions">
       <action
               label="%action.label.1"
               class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               style="push"
               actionID="RulerDoubleClick"
               id="org.eclipse.emf.ecore.xcore.Xcore.doubleClickBreakpointAction"/>
      </editorContribution>
   </extension>
   <extension point="org.eclipse.ui.popupMenus">
      <viewerContribution
         targetID="example.rulerContextMenuId"
         id="org.eclipse.emf.ecore.xcore.Xcore.ide.RulerPopupActions">
         <action
            label="%action.label.2"
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            menubarPath="additions"
            id="org.eclipse.emf.ecore.xcore.Xcore.ide.rulerContextMenu.toggleBreakpointAction">
         </action>
      </viewerContribution>
   </extension>
   -->

   <!-- MANUAL ADDITIONS -->

    <extension point="org.eclipse.ui.handlers">
        <handler
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.emf.ecore.xcore.ui.CreateDynamicInstanceHandler"
            commandId="org.eclipse.emf.ecore.xcore.ui.CreateDynamicInstance">
            <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.eclipse.emf.ecore.xcore.ui.XcoreExecutableExtensionFactory:org.eclipse.emf.ecore.xcore.ui.handler.XcoreOrganizeImportsHandler"
            commandId="org.eclipse.emf.ecore.xcore.ui.organizeImports">
               <activeWhen>
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </activeWhen>
      </handler>
    </extension>

    <extension point="org.eclipse.ui.commands">
      <command
            description="%command.description.1"
            id="org.eclipse.emf.ecore.xcore.ui.CreateDynamicInstance"
            name="%command.name.1">
      </command>
      <command
            description="%command.description.2"
            id="org.eclipse.emf.ecore.xcore.ui.organizeImports"
            name="%command.name.2"/>
    </extension>

    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.emf.ecore.xcore.ui.CreateDynamicInstance"
                 style="push"
                 tooltip="%command.tooltip.1">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </visibleWhen>
         </command>
         </menuContribution>
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.eclipse.emf.ecore.xcore.ui.organizeImports"
                 style="push"
                 tooltip="%command.tooltip.2">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.emf.ecore.xcore.Xcore.Editor.opened">
                </reference>
            </visibleWhen>
         </command>
         </menuContribution>
    </extension>

    <extension point="org.eclipse.ui.views">
      <category
            id="org.eclipse.emf.views"
            name="%view.category.name"/>
        <view
              category="org.eclipse.emf.views"
              class="org.eclipse.emf.ecore.xcore.ui.EOperationInvocationView"
              id="org.eclipse.emf.ecore.xcore.ui.EOperationInvocationView"
              name="%view.name"/>
    </extension>

    <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.xcore.ui.wizardCategory"
            name="%category.name"/>
      <wizard
            id="org.eclipse.emf.ecore.xcore.ui.EmptyXcoreProjectWizard"
            name="%wizard.name"
            class="org.eclipse.emf.ecore.xcore.ui.EmptyXcoreProjectWizard"
            category="org.eclipse.emf.ecore.xcore.ui.wizardCategory"
            project="true"
            icon="icons/full/ctool16/NewXcoreProject.gif">
         <description>%wizard.description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>
</plugin>
