<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditorID"
            name="%_UI_GenModel_Editor"
            icon="icons/full/obj16/GenModelModelFile.gif"
            class="org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelEditor"
            contributorClass="org.eclipse.emf.codegen.ecore.genmodel.presentation.GenModelActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.emf.codegen.genmodel"/>
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.codegen.ecore.ui.wizardCategory"
            name="%_UI_Wizard_Category"/>
      <wizard
            id="org.eclipse.emf.codegen.ecore.ui.EmptyProjectWizard"
            name="%_UI_EmptyProject_title"
            class="org.eclipse.emf.codegen.ecore.ui.EmptyProjectWizard"
            category="org.eclipse.emf.codegen.ecore.ui.wizardCategory"
            project="true"
            icon="icons/full/ctool16/NewEmptyEMFProject.gif">
         <description>%_UI_EmptyProject_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <factory
            uri="http://www.eclipse.org/emf/2002/GenModel"
            class="org.eclipse.emf.codegen.ecore.genmodel.provider.GenModelItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   
  <extension point="org.eclipse.ui.commands">
		<category
			id="org.eclipse.emf.codegen.ecore.ui.Commands"
			name="%_UI_EMFCodeGeneration_name"
			description="%_UI_EMFCommandCategory_description">
		</category>
		<command
			id="org.eclipse.emf.codegen.ecore.ui.Generate"
			categoryId="org.eclipse.emf.codegen.ecore.ui.Commands"
			name="%_UI_GenerateCommand_name"
			description="%_UI_GenerateCommand_description">
		</command>
  </extension>

  <extension point="org.eclipse.ui.commandImages">
		<image
			commandId="org.eclipse.emf.codegen.ecore.ui.Generate"
			icon="icons/full/ctool16/Generate.gif">
		</image>
  </extension>   
  
	<extension point="org.eclipse.ui.handlers">
		<handler
			commandId="org.eclipse.emf.codegen.ecore.ui.Generate"
			class="org.eclipse.emf.codegen.ecore.genmodel.handler.GenerateHandler">
		</handler>
	</extension>
	
  <extension point="org.eclipse.ui.bindings">
		<key
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
			commandId="org.eclipse.emf.codegen.ecore.ui.Generate"
			sequence="M3+M2+G">
		</key>
  </extension>

  <extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
			<toolbar
				id="org.eclipse.emf.codegen.ecore.ui.Toolbar">
					<command
						commandId="org.eclipse.emf.codegen.ecore.ui.Generate"
						style="push">
					</command>
			</toolbar>
		</menuContribution>
	</extension>
</plugin>
