<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin> 
  <!-- 
  These aren't registered to avoid collision with the Visual Editor.
  
  <extension point = "org.eclipse.emf.ecore.extension_parser">
    <parser type="java" class="org.eclipse.emf.java.util.JavaResourceFactoryImpl"/>
  </extension>

  <extension point = "org.eclipse.emf.ecore.extension_parser">
    <parser type="packages" class="org.eclipse.emf.java.util.JavaPackageResourceFactoryImpl"/>
  </extension>
  -->

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package uri="http://www.eclipse.org/emf/2002/Java" class="org.eclipse.emf.java.JavaPackage" genModel="model/Java.genmodel" />
  </extension>

</plugin>