<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser type="*" class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser type="ecore" class="org.eclipse.emf.ecore.xmi.impl.EcoreResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.emf.ecore.extension_parser">
    <parser type="emof" class="org.eclipse.emf.ecore.xmi.impl.EMOFResourceFactoryImpl" />
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="ecore" type="text" />
    <fileTypes extension="emof" type="text" />
  </extension>
</plugin>