<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.codegen.ecore.ui.mappingWizardCategory"
            name="%_UI_Wizard_category"
            parentCategory="org.eclipse.emf.codegen.ecore.ui.wizardCategory"/>
      <wizard
            id="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreModelWizardID"
            name="%_UI_Ecore2EcoreModelWizard_label"
            class="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreModelWizard"
            category="org.eclipse.emf.codegen.ecore.ui.wizardCategory/org.eclipse.emf.codegen.ecore.ui.mappingWizardCategory"
            icon="icons/full/ctool16/NewEcore2Ecore.gif">
         <description>%_UI_Ecore2EcoreModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreEditorID"
            name="%_UI_Ecore2EcoreEditor_label"
            icon="icons/full/obj16/Ecore2EcoreModelFile.gif"
            class="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreEditor"
            contributorClass="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreActionBarContributor">
         <contentTypeBinding contentTypeId="org.eclipse.emf.mapping.ecore2ecore"/>
      </editor>
   </extension>

   <extension point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreEditorID"
            id="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreContributionID">
         <menu
               label="%_UI_Ecore2EcoreEditor_menu_item"
               path="additions"
               id="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID">
            <separator name="settings"/>
            <separator name="actions"/>
            <separator name="global-actions"/>
            <separator name="additions"/>
            <separator name="additions-end"/>
         </menu>
         <action
               label="%_UI_RemoveMapping_menu_item"
               icon="platform:/plugin/org.eclipse.emf.mapping/icons/full/ctool16/RemoveOneToOneMapping.gif"
               class="org.eclipse.emf.mapping.action.RemoveMappingAction"
               tooltip="%_UI_RemoveMapping_tooltip"
               menubarPath="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID/actions"
               toolbarPath="Normal/mapping-additions"
               id="org.eclipse.emf.mapping.action.RemoveMappingActionID"/>
         <action
               label="%_UI_MatchMappingByType_menu_item"
               icon="platform:/plugin/org.eclipse.emf.mapping/icons/full/ctool16/MatchByType.gif"
               class="org.eclipse.emf.mapping.action.TypeMatchMappingAction"
               tooltip="%_UI_MatchMappingByType_tooltip"
               menubarPath="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID/actions"
               toolbarPath="Normal/mapping-additions"
               id="org.eclipse.emf.mapping.action.TypeMatchMappingActionID"/>
         <action
               label="%_UI_MatchMappingByName_menu_item"
               icon="platform:/plugin/org.eclipse.emf.mapping/icons/full/ctool16/MatchByName.gif"
               class="org.eclipse.emf.mapping.action.NameMatchMappingAction"
               tooltip="%_UI_MatchMappingByName_tooltip"
               menubarPath="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID/actions"
               toolbarPath="Normal/mapping-additions"
               id="org.eclipse.emf.mapping.action.NameMatchMappingActionID"/>
         <action
               label="%_UI_CreateOneSideMapping_menu_item"
               icon="platform:/plugin/org.eclipse.emf.mapping/icons/full/ctool16/CreateOneToNoneMapping.gif"
               class="org.eclipse.emf.mapping.action.CreateOneSidedMappingAction"
               tooltip="%_UI_CreateOneSideMapping_tooltip"
               menubarPath="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID/actions"
               toolbarPath="Normal/mapping-additions"
               id="org.eclipse.emf.mapping.action.CreateOneSidedMappingActionID"/>
         <action
               label="%_UI_CreateMapping_menu_item"
               icon="platform:/plugin/org.eclipse.emf.mapping/icons/full/ctool16/CreateOneToOneMapping.gif"
               class="org.eclipse.emf.mapping.action.CreateMappingAction"
               tooltip="%_UI_CreateMapping_tooltip"
               menubarPath="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID/actions"
               toolbarPath="Normal/mapping-additions"
               id="org.eclipse.emf.mapping.action.CreateMappingActionID"/>
         <action
               label="%_UI_AddOutputRoot_menu_item"
               icon="platform:/plugin/org.eclipse.emf.mapping.ui/icons/full/ctool16/AddRootBottom.gif"
               class="org.eclipse.emf.mapping.ecore2ecore.action.AddOutputRootAction"
               tooltip="%_UI_AddOutputRoot_tooltip"
               menubarPath="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID/actions"
               toolbarPath="Normal/mapping-additions"
               id="org.eclipse.emf.mapping.ecore2ecore.action.AddOuputRootActionID"/>
         <action
               label="%_UI_AddInputRoot_menu_item"
               icon="platform:/plugin/org.eclipse.emf.mapping.ui/icons/full/ctool16/AddRootTop.gif"
               class="org.eclipse.emf.mapping.ecore2ecore.action.AddInputRootAction"
               tooltip="%_UI_AddInputRoot_tooltip"
               menubarPath="org.eclipse.emf.mapping.ecore2ecore.presentation.Ecore2EcoreMenuID/actions"
               toolbarPath="Normal/mapping-additions"
               id="org.eclipse.emf.mapping.ecore2ecore.action.AddInputRootActionID"/>
      </editorContribution>
   </extension>

   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            nameFilter="*.ecore"
            id="org.eclipse.emf.mapping.ecore2ecore.editor.MapToEcoreActionID">
         <action label="%_UI_MapToEcore_menu_item"
               class="org.eclipse.emf.mapping.ecore2ecore.action.MapToEcoreActionDelegate"
               menubarPath="additions" 
               enablesFor="1"
               id="org.eclipse.emf.mapping.ecore2ecore.editor.MapToEcoreActionID"/>
      </objectContribution>
   </extension>
</plugin>
