<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <!-- Defines the modeling category and the EMF activity -->
  <extension point="org.eclipse.ui.activities">
    <category id="org.eclipse.emf.categories.modelingCategory" description="%_UI_Category_Modeling_description" name="%_UI_Category_Modeling_name" />
    <activity id="org.eclipse.EMF" description="%_UI_Activity_EMF_description" name="%_UI_Activity_EMF_name" />
    <categoryActivityBinding activityId="org.eclipse.EMF" categoryId="org.eclipse.emf.categories.modelingCategory" />
    <defaultEnablement id="org.eclipse.EMF" />
  </extension>

  <!-- org.eclipse.emf.codegen.ecore.ui -->
  <!-- Generator and Empty EMF Project wizard -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.codegen\.ecore\.ui/.*" />
  </extension>

  <!-- org.eclipse.emf.importer -->
  <!-- EMF Project and EMF Model wizards and Reload action -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.importer/.*" />
  </extension>

  <!-- org.eclipse.emf.exporter -->
  <!-- Export Model action -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.exporter/.*" />
  </extension>

  <!-- org.eclipse.emf.codegen.ui -->
  <!-- Convert to JET Project wizard -->
  <extension point="org.eclipse.ui.activities">
    <activity id="org.eclipse.emf.activities.JET" description="%_UI_Activity_JET_description" name="%_UI_Activity_JET_name" />
    <categoryActivityBinding activityId="org.eclipse.emf.activities.JET" categoryId="org.eclipse.emf.categories.modelingCategory" />
    <activityPatternBinding activityId="org.eclipse.emf.activities.JET" pattern="org\.eclipse\.emf\.codegen\.ui/.*" />
    <defaultEnablement id="org.eclipse.emf.activities.JET" />
  </extension>

  <!-- org.eclipse.emf.ecore.sdo.editor -->
  <!-- Data Graph Model wizard and editor -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.ecore\.sdo\.editor/.*" />
  </extension>

  <!-- org.eclipse.emf.ecore.editor -->
  <!-- Sample Ecore Model Editor and Ecore Model wizard -->
  <!-- Also, defines an activity for the reflective editors: -->
  <!--   Open As and Open With > Sample Reflective Ecore Model Editor actions --> 
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.ecore\.editor/.*Ecore.*" />
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.ecore\.editor/.*CreateDynamic.*" />
    
    <activity id="org.eclipse.emf.reflectiveEditing" description="%_UI_Activity_ReflectiveEditing_description" name="%_UI_Activity_ReflectiveEditing_name" />
    <categoryActivityBinding activityId="org.eclipse.emf.reflectiveEditing" categoryId="org.eclipse.emf.categories.modelingCategory" />
    <activityPatternBinding activityId="org.eclipse.emf.reflectiveEditing" pattern="org\.eclipse\.emf\.ecore\.editor/.Open*" />
    <activityPatternBinding activityId="org.eclipse.emf.reflectiveEditing" pattern="org\.eclipse\.emf\.ecore\.editor/.*Reflective.*" />
    
    <defaultEnablement id="org.eclipse.emf.reflectiveEditing" />
  </extension>

  <!-- org.eclipse.emf.mapping.xsd2ecore.editor -->
  <!-- XSD to EMF mapping -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.mapping\.xsd2ecore\.editor/.*" />
  </extension>

  <!-- org.eclipse.emf.mapping.ecore2ecore.editor -->
  <!-- Ecore to Ecore mapping -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.mapping\.ecore2ecore\.editor/.*" />
  </extension>

  <!-- org.eclipse.emf.mapping.ecore2xml.ui -->
  <!-- Ecore to XML mapping -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.mapping\.ecore2xml\.ui/.*" />
  </extension>

  <!-- org.eclipse.xsd.editor -->
  <!-- Sample XML Schema Editor and XSD Model wizard -->
  <extension point="org.eclipse.ui.activities">
    <activity id="org.eclipse.XSD" description="%_UI_Activity_XSD_description" name="%_UI_Activity_XSD_name" />
    <categoryActivityBinding activityId="org.eclipse.XSD" categoryId="org.eclipse.emf.categories.modelingCategory" />
    <activityPatternBinding activityId="org.eclipse.XSD" pattern="org\.eclipse\.xsd\.editor/.*" />
    <defaultEnablement id="org.eclipse.XSD" />
  </extension>

  <!-- org.eclipse.emf.examples.library.editor -->
  <!-- Library example -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.examples\.library\.editor/.*" />
  </extension>

  <!-- org.eclipse.emf.java.editor -->
  <!-- Java example -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.java\.editor/.*" />
  </extension>

  <!-- org.eclipse.emf.edit.ui -->
  <!-- Preference page -->
  <extension point="org.eclipse.ui.activities">
    <activityPatternBinding activityId="org.eclipse.EMF" pattern="org\.eclipse\.emf\.edit\.ui/.*" />
  </extension>
</plugin>
