<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="%data.source.id"
         point="org.eclipse.datatools.connectivity.oda.dataSource">
      <dataSource
            driverClass="org.eclipse.emf.oda.ecore.impl.Driver"
            defaultDisplayName="%data.source.name"
            setThreadContextClassLoader="false"
            odaVersion="3.2"
            id="%data.source.id">
         <properties>
            <property
                  name="resource"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="%data.source.property.name.resource"
                  type="string"
                  isEncryptable="false"/>
         </properties>
      </dataSource>
      <dataSet
            defaultDisplayName="%data.set.name"
            id="%data.set.id">
         <dataTypeMapping
               nativeDataTypeCode="20"
               odaScalarDataType="Decimal"
               nativeDataType="EBigDecimal"/>
         <dataTypeMapping
               nativeDataTypeCode="21"
               odaScalarDataType="Decimal"
               nativeDataType="EBigInteger"/>
         <dataTypeMapping
               nativeDataTypeCode="22"
               odaScalarDataType="Boolean"
               nativeDataType="EBoolean"/>
         <dataTypeMapping
               nativeDataTypeCode="23"
               odaScalarDataType="Boolean"
               nativeDataType="EBooleanObject"/>
         <dataTypeMapping
               nativeDataTypeCode="24"
               odaScalarDataType="Integer"
               nativeDataType="EByte"/>
         <dataTypeMapping
               nativeDataTypeCode="25"
               odaScalarDataType="Blob"
               nativeDataType="EByteArray"/>
         <dataTypeMapping
               nativeDataTypeCode="26"
               odaScalarDataType="Integer"
               nativeDataType="EByteObject"/>
         <dataTypeMapping
               nativeDataTypeCode="27"
               odaScalarDataType="Integer"
               nativeDataType="EChar"/>
         <dataTypeMapping
               nativeDataTypeCode="28"
               odaScalarDataType="Integer"
               nativeDataType="ECharacterObject"/>
         <dataTypeMapping
               nativeDataTypeCode="29"
               odaScalarDataType="Date"
               nativeDataType="EDate"/>
         <dataTypeMapping
               nativeDataTypeCode="30"
               odaScalarDataType="JavaObject"
               nativeDataType="EDiagnosticChain"/>
         <dataTypeMapping
               nativeDataTypeCode="31"
               odaScalarDataType="Double"
               nativeDataType="EDouble"/>
         <dataTypeMapping
               nativeDataTypeCode="32"
               odaScalarDataType="Double"
               nativeDataType="EDoubleObject"/>
         <dataTypeMapping
               nativeDataTypeCode="33"
               odaScalarDataType="JavaObject"
               nativeDataType="EEList"/>
         <dataTypeMapping
               nativeDataTypeCode="34"
               odaScalarDataType="JavaObject"
               nativeDataType="EEnumerator"/>
         <dataTypeMapping
               nativeDataTypeCode="35"
               odaScalarDataType="JavaObject"
               nativeDataType="EFeatureMap"/>
         <dataTypeMapping
               nativeDataTypeCode="36"
               odaScalarDataType="JavaObject"
               nativeDataType="EFeatureMapEntry"/>
         <dataTypeMapping
               nativeDataTypeCode="37"
               odaScalarDataType="Double"
               nativeDataType="EFloat"/>
         <dataTypeMapping
               nativeDataTypeCode="38"
               odaScalarDataType="Double"
               nativeDataType="EFloatObject"/>
         <dataTypeMapping
               nativeDataTypeCode="39"
               odaScalarDataType="Integer"
               nativeDataType="EInt"/>
         <dataTypeMapping
               nativeDataTypeCode="40"
               odaScalarDataType="Integer"
               nativeDataType="EIntegerObject"/>
         <dataTypeMapping
               nativeDataTypeCode="41"
               odaScalarDataType="JavaObject"
               nativeDataType="EJavaClass"/>
         <dataTypeMapping
               nativeDataTypeCode="42"
               odaScalarDataType="JavaObject"
               nativeDataType="EJavaObject"/>
         <dataTypeMapping
               nativeDataTypeCode="43"
               odaScalarDataType="Integer"
               nativeDataType="ELong"/>
         <dataTypeMapping
               nativeDataTypeCode="44"
               odaScalarDataType="Integer"
               nativeDataType="ELongObject"/>
         <dataTypeMapping
               nativeDataTypeCode="45"
               odaScalarDataType="JavaObject"
               nativeDataType="EMap"/>
         <dataTypeMapping
               nativeDataTypeCode="46"
               odaScalarDataType="JavaObject"
               nativeDataType="EResource"/>
         <dataTypeMapping
               nativeDataTypeCode="47"
               odaScalarDataType="JavaObject"
               nativeDataType="EResourceSet"/>
         <dataTypeMapping
               nativeDataTypeCode="48"
               odaScalarDataType="Integer"
               nativeDataType="EShort"/>
         <dataTypeMapping
               nativeDataTypeCode="49"
               odaScalarDataType="Integer"
               nativeDataType="EShortObject"/>
         <dataTypeMapping
               nativeDataTypeCode="50"
               odaScalarDataType="String"
               nativeDataType="EString"/>
         <dataTypeMapping
               nativeDataTypeCode="51"
               odaScalarDataType="JavaObject"
               nativeDataType="ETreeIterator"/>
         <dataTypeMapping
               nativeDataTypeCode="52"
               odaScalarDataType="JavaObject"
               nativeDataType="EInvocationTargetException"/>
         <properties>
            <property
                  name="delegate"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="%data.set.property.name.delegate"
                  type="string"
                  isEncryptable="false"/>
            <property
                  name="context"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="%data.set.property.name.context"
                  type="string"
                  isEncryptable="false"/>
            <property
                  name="variables"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="%data.set.property.name.variables"
                  type="string"
                  isEncryptable="false"/>
            <property
                  name="type"
                  allowsEmptyValueAsNull="true"
                  defaultDisplayName="%data.set.property.name.type"
                  type="string"
                  isEncryptable="false"/>
         </properties>
      </dataSet>
   </extension>
   <extension
         point="org.eclipse.datatools.connectivity.connectionProfile">
      <category
            name="%data.source.name"
            parentCategory="org.eclipse.datatools.connectivity.oda.profileCategory"
            id="%data.source.id"/>
      <connectionProfile
            pingFactory="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            name="%connection.profile.name"
            category="%data.source.id"
            id="%data.source.id"/>
      <connectionFactory
            name="ODA Connection Factory"
            profile="%data.source.id"
            class="org.eclipse.datatools.connectivity.oda.profile.OdaConnectionFactory"
            id="org.eclipse.datatools.connectivity.oda.IConnection"/>
   </extension>
</plugin>
