<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.emf.examples.extlibrary.presentation.EXTLibraryModelWizardID"
            name="%_UI_EXTLibraryModelWizard_label"
            class="org.eclipse.emf.examples.extlibrary.presentation.EXTLibraryModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EXTLibraryModelFile.gif">
         <description>%_UI_EXTLibraryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.emf.examples.extlibrary.presentation.EXTLibraryEditorID"
            name="%_UI_EXTLibraryEditor_label"
            icon="icons/full/obj16/EXTLibraryModelFile.gif"
            class="org.eclipse.emf.examples.extlibrary.presentation.EXTLibraryEditor"
            contributorClass="org.eclipse.emf.examples.extlibrary.actions.EXTLibraryExtendedActionBarContributor"
            default="true">
         <contentTypeBinding contentTypeId="org.eclipse.emf.examples.library.extendedLibrary"/>
      </editor>
   </extension>
</plugin>
