<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="emf-developer-juno" sequenceNumber="1">
<locations>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xtend.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/nightly"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.feature.group" version="0.0.0"/>
<repository location="https://hudson.eclipse.org/hudson/job/emf-core-head/lastSuccessfulBuild/artifact/EMF.p2.repository/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.core" version="0.0.0"/>
<unit id="org.eclipse.pde.ui" version="0.0.0"/>
<unit id="org.junit4" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.3milestones"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="com.google.guava" version="0.0.0"/>
<unit id="com.google.inject" version="0.0.0"/>
<unit id="org.apache.log4j" version="0.0.0"/>
<unit id="org.aopalliance" version="0.0.0"/>
<unit id="org.easymock" version="0.0.0"/>
<unit id="org.antlr.runtime" version="0.0.0"/>
<unit id="javax.inject" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/orbit"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.rap.ui" version="0.0.0"/>
<unit id="org.eclipse.rap.ui.views" version="0.0.0"/>
<unit id="org.eclipse.rap.ui.workbench" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/1.5/runtime"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.datatools.connectivity.oda.design.ui" version="0.0.0"/>
<unit id="org.eclipse.datatools.connectivity.oda" version="0.0.0"/>
<unit id="org.eclipse.datatools.connectivity.oda.profile" version="0.0.0"/>
<repository location="http://download.eclipse.org/datatools/downloads/drops/M_updates_1.9"/>
</location>
</locations>
</target>
