<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="emf-developer-galileo-withrap" sequenceNumber="17">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.rap.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/2.2"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.jdt.source.feature.group" version="3.5.2.r352_v20100108-7r88FEwFI0WTuoBl0iaG0tyhfZH6"/>
<unit id="org.eclipse.platform.ide" version="3.5.2.M20100211-1343"/>
<unit id="org.eclipse.jdt.feature.group" version="3.5.2.r352_v20100108-7r88FEwFI0WTuoBl0iaG0tyhfZH6"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.5"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/gef/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.datatools.enablement.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.datatools.sdk.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/datatools/downloads/drops/M_updates_1.9"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="false" type="InstallableUnit">
<unit id="org.eclipse.emf.rap.edit.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.rap.common.ui.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.rap.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.rap.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xsd.feature.group" version="0.0.0"/>
<repository location="https://hudson.eclipse.org/xtext/job/emf-core/lastStableBuild/artifact/build-result/p2.repository/"/>
</location>
</locations>
<includeBundles>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.apache.commons.logging"/>
<plugin id="org.eclipse.jsch.ui"/>
<plugin id="org.eclipse.jdt.junit4.runtime"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.datatools.sqltools.sql.ui.source"/>
<plugin id="org.eclipse.ecf.identity"/>
<plugin id="org.eclipse.compare"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.datatools.enablement.sap.maxdb"/>
<plugin id="org.eclipse.emf.ecore.editor.source"/>
<plugin id="org.eclipse.datatools.enablement.oda.xml.ui"/>
<plugin id="org.eclipse.datatools.sqltools.editor.core.ui.source"/>
<plugin id="org.eclipse.jdt.core.manipulation.source"/>
<plugin id="org.eclipse.datatools.enablement.jdt.classpath"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.datatools.connectivity.apache.derby"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.models"/>
<plugin id="org.eclipse.emf.ecore.change.edit"/>
<plugin id="org.eclipse.emf.rap.edit.ui"/>
<plugin id="org.eclipse.datatools.enablement.msft.sqlserver.dbdefinition"/>
<plugin id="org.eclipse.datatools.sqltools.editor.core.ui"/>
<plugin id="org.eclipse.jdt.apt.core"/>
<plugin id="org.eclipse.emf.ecore.editor"/>
<plugin id="org.eclipse.datatools.sqltools.db.generic.ui.source"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.equinox.p2.extensionlocation"/>
<plugin id="org.eclipse.datatools.sqltools.data.core"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.datatools.connectivity.oda.design.ui.source"/>
<plugin id="org.eclipse.datatools.connectivity.oda.design"/>
<plugin id="org.eclipse.rap.ui.views"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.datatools.help.source"/>
<plugin id="org.eclipse.update.core"/>
<plugin id="org.eclipse.datatools.connectivity.oda.template.ui"/>
<plugin id="org.eclipse.datatools.enablement.oracle.source"/>
<plugin id="org.eclipse.equinox.p2.console"/>
<plugin id="org.eclipse.datatools.enablement.oda.ws.ui.source"/>
<plugin id="org.eclipse.jdt.apt.ui"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.ui"/>
<plugin id="org.apache.xerces"/>
<plugin id="org.eclipse.emf.ant.source"/>
<plugin id="org.eclipse.emf.mapping.ui.source"/>
<plugin id="org.eclipse.datatools.sqltools.db.derby.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.iseries.dbdefinition.source"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.datatools.sqltools.db.derby.ui"/>
<plugin id="org.eclipse.datatools.connectivity.sqm.server.ui"/>
<plugin id="org.eclipse.datatools.sqltools.editor.core.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.zseries.dbdefinition"/>
<plugin id="org.eclipse.equinox.p2.repository.tools"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.datatools.enablement.ibm.informix.dbdefinition.source"/>
<plugin id="org.eclipse.datatools.sqltools.plan.source"/>
<plugin id="org.eclipse.datatools.sqltools.result.ui.source"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.datatools.connectivity.sqm.core.ui.source"/>
<plugin id="org.eclipse.emf.mapping.ecore"/>
<plugin id="org.eclipse.datatools.enablement.postgresql.dbdefinition"/>
<plugin id="org.eclipse.datatools.sqltools.debugger.core"/>
<plugin id="org.eclipse.datatools.enablement.msft.sqlserver.dbdefinition.source"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="net.sourceforge.lpg.lpgjavaruntime"/>
<plugin id="org.eclipse.emf.mapping.ecore2ecore.editor.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.datatools.modelbase.sql.query.source"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.emf.mapping.ecore2ecore"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.datatools.enablement.oda.xml.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.oracle"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.datatools.help"/>
<plugin id="org.eclipse.platform.doc.user"/>
<plugin id="org.eclipse.update.configurator"/>
<plugin id="org.eclipse.datatools.sqltools.sqleditor"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.eclipse.datatools.modelbase.sql.edit.source"/>
<plugin id="org.eclipse.datatools.sqltools.db.derby.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.msft.sqlserver.ui"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.iseries.dbdefinition"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk.scheduler"/>
<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
<plugin id="org.eclipse.equinox.p2.ui.sdk"/>
<plugin id="org.eclipse.datatools.sqltools.schemaobjecteditor.ui"/>
<plugin id="org.eclipse.jdt.junit4.runtime.source"/>
<plugin id="org.eclipse.datatools.enablement.postgresql.dbdefinition.source"/>
<plugin id="org.eclipse.datatools.enablement.oda.xml"/>
<plugin id="org.eclipse.jdt.ui"/>
<plugin id="org.eclipse.emf.ecore.change.edit.source"/>
<plugin id="org.eclipse.datatools.modelbase.sql"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.emf.importer.source"/>
<plugin id="org.eclipse.datatools.enablement.oda.ws"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.rap.ui.workbench"/>
<plugin id="javax.wsdl"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql"/>
<plugin id="org.eclipse.datatools.connectivity.ui.dse.source"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.datatools.sqltools.schemaobjecteditor"/>
<plugin id="org.eclipse.datatools.connectivity.oda.source"/>
<plugin id="org.eclipse.emf.mapping.ecore2xml.ui"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql.xml.query"/>
<plugin id="org.eclipse.datatools.enablement.msft.sqlserver"/>
<plugin id="org.junit4"/>
<plugin id="org.eclipse.datatools.connectivity.source"/>
<plugin id="org.apache.jasper"/>
<plugin id="org.eclipse.datatools.enablement.ingres.ui.source"/>
<plugin id="org.eclipse.jdt.compiler.apt"/>
<plugin id="org.eclipse.rcp"/>
<plugin id="org.eclipse.datatools.sqltools.doc.user"/>
<plugin id="org.eclipse.datatools.sqltools.sqlscrapbook"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.natives"/>
<plugin id="org.eclipse.datatools.enablement.hsqldb.ui.source"/>
<plugin id="org.eclipse.datatools.connectivity.sqm.server.ui.source"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.equinox.p2.directorywatcher"/>
<plugin id="org.eclipse.emf.mapping.ecore2xml.ui.source"/>
<plugin id="org.eclipse.datatools.sqltools.db.generic"/>
<plugin id="org.eclipse.datatools.enablement.ibm.informix.ui.source"/>
<plugin id="org.apache.commons.el"/>
<plugin id="org.eclipse.datatools.connectivity.apache.derby.ui.source"/>
<plugin id="org.eclipse.datatools.connectivity.oda.flatfile.source"/>
<plugin id="org.eclipse.ecf.ssl"/>
<plugin id="org.eclipse.jdt.doc.user"/>
<plugin id="org.eclipse.core.runtime.compatibility"/>
<plugin id="org.eclipse.datatools.enablement.mysql.source"/>
<plugin id="org.eclipse.rap.ui.forms"/>
<plugin id="org.eclipse.emf.mapping"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql.query"/>
<plugin id="org.eclipse.datatools.connectivity.db.generic.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.oda.xml.source"/>
<plugin id="org.eclipse.datatools.connectivity.sqm.core.source"/>
<plugin id="org.junit"/>
<plugin id="org.eclipse.datatools.connectivity.apache.derby.ui"/>
<plugin id="org.apache.commons.codec"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.eclipse.datatools.connectivity.oda.design.source"/>
<plugin id="org.eclipse.emf.codegen.ecore.source"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="org.eclipse.datatools.enablement.oracle.dbdefinition.source"/>
<plugin id="org.eclipse.ant.ui.source"/>
<plugin id="org.eclipse.datatools.connectivity.db.generic.source"/>
<plugin id="org.eclipse.emf.databinding.edit.source"/>
<plugin id="org.eclipse.jdt.junit.runtime.source"/>
<plugin id="org.eclipse.datatools.enablement.oda.ws.ui"/>
<plugin id="org.eclipse.core.boot"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.eclipse.datatools.modelbase.dbdefinition.source"/>
<plugin id="org.eclipse.datatools.enablement.sqlite.ui.source"/>
<plugin id="org.eclipse.datatools.connectivity.ui.dse"/>
<plugin id="org.apache.ant"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.datatools.enablement.sybase.models"/>
<plugin id="org.eclipse.datatools.sqltools.routineeditor.source"/>
<plugin id="org.eclipse.equinox.p2.publisher"/>
<plugin id="org.eclipse.datatools.enablement.hsqldb.source"/>
<plugin id="org.mortbay.jetty.server"/>
<plugin id="org.eclipse.datatools.enablement.oracle.ui.source"/>
<plugin id="org.eclipse.update.ui"/>
<plugin id="org.eclipse.datatools.enablement.jdt.classpath.source"/>
<plugin id="org.eclipse.datatools.modelbase.sql.query"/>
<plugin id="org.eclipse.datatools.modelbase.derby.source"/>
<plugin id="org.eclipse.datatools.enablement.ingres.dbdefinition.source"/>
<plugin id="org.eclipse.equinox.p2.updatechecker"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.source"/>
<plugin id="org.eclipse.datatools.sqltools.debugger.core.ui"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase.dbdefinition"/>
<plugin id="org.eclipse.rap.ui"/>
<plugin id="org.eclipse.emf.exporter"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ui"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.zseries.source"/>
<plugin id="com.jcraft.jsch"/>
<plugin id="org.eclipse.datatools.enablement.sqlite.ui"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql.query.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.informix.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.zseries.ui.source"/>
<plugin id="org.eclipse.emf.databinding.edit"/>
<plugin id="org.eclipse.datatools.connectivity.oda.flatfile.ui"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.datatools.doc.user"/>
<plugin id="org.eclipse.datatools.sqltools.data.ui"/>
<plugin id="org.eclipse.datatools.modelbase.sql.query.edit"/>
<plugin id="org.eclipse.equinox.p2.artifact.repository"/>
<plugin id="org.eclipse.datatools.connectivity.doc.user"/>
<plugin id="org.eclipse.ltk.ui.refactoring"/>
<plugin id="org.eclipse.datatools.sqltools.schemaobjecteditor.ui.pages"/>
<plugin id="org.eclipse.emf.mapping.ecore2ecore.editor"/>
<plugin id="org.eclipse.equinox.frameworkadmin"/>
<plugin id="org.eclipse.emf.codegen.ecore"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core.source"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.datatools.modelbase.derby"/>
<plugin id="org.sat4j.core"/>
<plugin id="org.eclipse.core.databinding.beans"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.luw.ui"/>
<plugin id="org.eclipse.datatools.enablement.postgresql.ui"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.manipulator"/>
<plugin id="org.eclipse.draw2d"/>
<plugin id="org.eclipse.emf.codegen.source"/>
<plugin id="org.eclipse.equinox.p2.updatesite"/>
<plugin id="org.eclipse.datatools.enablement.hsqldb.dbdefinition.source"/>
<plugin id="org.eclipse.equinox.p2.director.app"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql.lexer"/>
<plugin id="org.eclipse.ant.ui"/>
<plugin id="org.eclipse.datatools.connectivity.ui.source"/>
<plugin id="org.eclipse.rap.rwt"/>
<plugin id="org.eclipse.datatools.enablement.sqlite.dbdefinition"/>
<plugin id="org.eclipse.ecf.provider.filetransfer"/>
<plugin id="org.eclipse.datatools.enablement.ibm.informix.ui"/>
<plugin id="org.eclipse.emf.cheatsheets"/>
<plugin id="org.eclipse.emf.importer.ecore"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase.source"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql.xml.query.source"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase.ui.source"/>
<plugin id="org.eclipse.datatools.common.doc.user"/>
<plugin id="org.eclipse.team.ui"/>
<plugin id="org.eclipse.emf"/>
<plugin id="org.eclipse.jdt.source"/>
<plugin id="org.eclipse.datatools.modelbase.dbdefinition"/>
<plugin id="org.eclipse.datatools.connectivity.sqm.core.ui"/>
<plugin id="org.eclipse.jdt.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.hsqldb"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.zseries"/>
<plugin id="org.eclipse.datatools.enablement.sqlite"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase"/>
<plugin id="org.eclipse.datatools.enablement.ibm.ui"/>
<plugin id="org.eclipse.datatools.enablement.hsqldb.dbdefinition"/>
<plugin id="org.eclipse.core.resources.compatibility"/>
<plugin id="org.eclipse.jdt.compiler.apt.source"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.datatools.connectivity.ui.templates.source"/>
<plugin id="org.eclipse.datatools.sqltools.tabledataeditor"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.schemaobjecteditor.examples.source"/>
<plugin id="org.eclipse.equinox.p2.director"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.datatools.connectivity.ui.templates"/>
<plugin id="org.junit.source"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.emf.importer.java.source"/>
<plugin id="org.eclipse.jdt.apt.ui.source"/>
<plugin id="org.eclipse.datatools.sqltools.data.core.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.iseries.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.postgresql"/>
<plugin id="org.eclipse.jdt.launching"/>
<plugin id="org.eclipse.jdt.core.source"/>
<plugin id="org.eclipse.datatools.enablement.oracle.dbdefinition"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase.ui"/>
<plugin id="org.eclipse.datatools.enablement.mysql.ui"/>
<plugin id="org.eclipse.equinox.p2.garbagecollector"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase.models.source"/>
<plugin id="org.eclipse.emf.exporter.source"/>
<plugin id="org.eclipse.datatools.connectivity.oda.design.ui"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.luw.dbdefinition"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.datatools.modelbase.sql.source"/>
<plugin id="org.eclipse.datatools.enablement.postgresql.ui.source"/>
<plugin id="org.eclipse.emf.doc"/>
<plugin id="org.eclipse.datatools.enablement.sap.maxdb.ui.source"/>
<plugin id="org.eclipse.emf.codegen.ui.source"/>
<plugin id="org.eclipse.emf.codegen"/>
<plugin id="org.eclipse.emf.importer.rose.source"/>
<plugin id="org.eclipse.debug.core"/>
<plugin id="org.eclipse.datatools.connectivity.dbdefinition.genericJDBC.source"/>
<plugin id="org.eclipse.jdt.launching.source"/>
<plugin id="org.eclipse.datatools.enablement.mysql.dbdefinition"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.eclipse.datatools.sqltools.result"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="org.eclipse.jdt.doc.isv"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.emf.mapping.ecore2ecore.source"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.datatools.modelbase.sql.xml.query.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.luw.dbdefinition.source"/>
<plugin id="org.eclipse.datatools.enablement.ingres"/>
<plugin id="org.eclipse.datatools.connectivity.oda.template.ui.source"/>
<plugin id="org.eclipse.rap.rwt.osgi"/>
<plugin id="org.eclipse.datatools.enablement.msft.sqlserver.ui.source"/>
<plugin id="org.eclipse.jdt.compiler.tool"/>
<plugin id="org.eclipse.datatools.sqltools.routineeditor"/>
<plugin id="org.eclipse.jdt.compiler.tool.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.luw.ui.source"/>
<plugin id="org.eclipse.datatools.connectivity.console.profile"/>
<plugin id="org.eclipse.datatools.intro"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.iseries"/>
<plugin id="org.eclipse.datatools.enablement.msft.sqlserver.source"/>
<plugin id="org.eclipse.emf.ecore.edit.source"/>
<plugin id="org.eclipse.datatools.enablement.sap.maxdb.source"/>
<plugin id="org.eclipse.datatools.enablement.mysql.dbdefinition.source"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.datatools.enablement.hsqldb.ui"/>
<plugin id="org.eclipse.datatools.enablement.ibm.informix.dbdefinition"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.datatools.sqltools.sql.source"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql.lexer.source"/>
<plugin id="org.eclipse.datatools.enablement.postgresql.source"/>
<plugin id="org.eclipse.debug.ui"/>
<plugin id="org.eclipse.jdt.junit"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.datatools.connectivity.oda.profile.source"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.datatools.connectivity.ui"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.datatools.modelbase.sql.query.edit.source"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.eclipse.datatools.enablement.sybase"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.zseries.dbdefinition.source"/>
<plugin id="org.eclipse.datatools.connectivity.apache.derby.dbdefinition"/>
<plugin id="org.eclipse.datatools.enablement.ingres.ui"/>
<plugin id="org.eclipse.datatools.connectivity.db.generic.ui"/>
<plugin id="org.eclipse.datatools.connectivity"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.schemaobjecteditor.examples"/>
<plugin id="org.eclipse.datatools.enablement.ingres.dbdefinition"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.dbdefinition.source"/>
<plugin id="org.eclipse.emf.example.installer"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.iseries.source"/>
<plugin id="org.eclipse.datatools.connectivity.oda.profile"/>
<plugin id="org.eclipse.datatools.enablement.finfo.source"/>
<plugin id="org.eclipse.datatools.connectivity.db.generic"/>
<plugin id="org.eclipse.emf.mapping.ecore2xml"/>
<plugin id="org.apache.commons.httpclient"/>
<plugin id="org.eclipse.datatools.sqltools.debugger.core.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.iseries.ui"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.ssl"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.eclipse.update.scheduler"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.datatools.sqltools.editor.core"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.zseries.ui"/>
<plugin id="org.eclipse.datatools.enablement.sap.maxdb.dbdefinition.source"/>
<plugin id="org.eclipse.rap.jface"/>
<plugin id="org.eclipse.datatools.sqltools.common.ui.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.generator"/>
<plugin id="org.eclipse.emf.mapping.source"/>
<plugin id="org.eclipse.datatools.sqltools.ddlgen.ui"/>
<plugin id="org.eclipse.datatools.sqltools.parsers.sql.source"/>
<plugin id="org.eclipse.equinox.jsp.jasper"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.rap.ui.cheatsheets"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase.models"/>
<plugin id="org.eclipse.datatools.enablement.mysql"/>
<plugin id="org.eclipse.datatools.connectivity.apache.derby.source"/>
<plugin id="org.eclipse.datatools.sqltools.result.source"/>
<plugin id="org.apache.lucene" version="1.9.1.v201101211617"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.models.source"/>
<plugin id="org.eclipse.jdt.debug"/>
<plugin id="org.eclipse.jdt.debug.ui.source"/>
<plugin id="org.eclipse.emf.converter.source"/>
<plugin id="org.eclipse.jdt.junit.source"/>
<plugin id="org.eclipse.datatools.modelbase.sql.edit"/>
<plugin id="org.eclipse.help.ui"/>
<plugin id="org.eclipse.ecf.filetransfer"/>
<plugin id="org.eclipse.datatools.sqltools.sql.ui"/>
<plugin id="org.eclipse.datatools.connectivity.sqm.core"/>
<plugin id="org.eclipse.datatools.connectivity.oda.consumer.source"/>
<plugin id="org.eclipse.datatools.enablement.sqlite.source"/>
<plugin id="org.eclipse.jdt.apt.core.source"/>
<plugin id="org.eclipse.rap.jface.databinding"/>
<plugin id="org.eclipse.ecf.provider.filetransfer.httpclient.ssl"/>
<plugin id="org.eclipse.datatools.enablement.ibm.ui.source"/>
<plugin id="org.eclipse.datatools.connectivity.oda.flatfile.ui.source"/>
<plugin id="org.eclipse.emf.mapping.ecore.editor"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="org.eclipse.datatools.sqltools.db.generic.ui"/>
<plugin id="org.eclipse.search"/>
<plugin id="org.eclipse.equinox.frameworkadmin.equinox"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.datatools.sqltools.data.ui.source"/>
<plugin id="org.eclipse.datatools.modelbase.sql.xml.query"/>
<plugin id="org.eclipse.platform"/>
<plugin id="org.eclipse.datatools.connectivity.dbdefinition.genericJDBC"/>
<plugin id="org.eclipse.equinox.p2.exemplarysetup"/>
<plugin id="org.eclipse.emf.codegen.ui"/>
<plugin id="org.eclipse.equinox.p2.ui"/>
<plugin id="org.eclipse.jdt.apt.pluggable.core"/>
<plugin id="org.eclipse.emf.cheatsheets.source"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ui.source"/>
<plugin id="org.eclipse.datatools.sqltools.tabledataeditor.source"/>
<plugin id="org.eclipse.datatools.sqltools.common.ui"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.eclipse.datatools.sqltools.sqleditor.source"/>
<plugin id="org.eclipse.emf.converter"/>
<plugin id="org.apache.xml.resolver"/>
<plugin id="org.eclipse.datatools.enablement.oda.ws.source"/>
<plugin id="org.apache.lucene" version="1.9.1.v20080530-1600"/>
<plugin id="org.eclipse.emf.ant"/>
<plugin id="org.eclipse.datatools.enablement.mysql.ui.source"/>
<plugin id="org.eclipse.emf.databinding.source"/>
<plugin id="org.eclipse.emf.rap.common.ui"/>
<plugin id="org.eclipse.jdt"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.datatools.enablement.ingres.source"/>
<plugin id="org.eclipse.datatools.sqltools.routineeditor.ui"/>
<plugin id="org.eclipse.datatools.sqltools.db.generic.source"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.dbdefinition"/>
<plugin id="org.eclipse.datatools.connectivity.oda"/>
<plugin id="org.eclipse.datatools.sqltools.routineeditor.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.sybase.ase.dbdefinition.source"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.equinox.p2.touchpoint.eclipse"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.eclipse.datatools.enablement.finfo"/>
<plugin id="org.eclipse.datatools.sqltools.sqlbuilder.source"/>
<plugin id="org.junit4.source"/>
<plugin id="org.eclipse.datatools.sqltools.db.derby"/>
<plugin id="org.eclipse.jdt.core.manipulation"/>
<plugin id="org.eclipse.emf.codegen.ecore.ui.source"/>
<plugin id="org.eclipse.datatools.sdk"/>
<plugin id="org.eclipse.datatools.connectivity.oda.consumer"/>
<plugin id="org.eclipse.datatools.doc.isv"/>
<plugin id="org.eclipse.datatools.sqltools.ddlgen.ui.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.informix"/>
<plugin id="org.eclipse.datatools.enablement.sybase.source"/>
<plugin id="org.eclipse.datatools.sqltools.debugger.core.source"/>
<plugin id="org.eclipse.emf.importer.rose"/>
<plugin id="org.eclipse.datatools.connectivity.oda.flatfile"/>
<plugin id="org.eclipse.emf.importer"/>
<plugin id="org.eclipse.emf.databinding"/>
<plugin id="org.eclipse.datatools.sqltools.result.ui"/>
<plugin id="org.eclipse.jdt.debug.ui"/>
<plugin id="org.eclipse.datatools.sqltools.plan"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.emf.importer.java"/>
<plugin id="org.eclipse.datatools.oda.cshelp"/>
<plugin id="org.eclipse.emf.codegen.ecore.ui"/>
<plugin id="org.eclipse.datatools.sqltools.doc.user.contexts"/>
<plugin id="org.eclipse.datatools.connectivity.console.profile.source"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.datatools.enablement.sqlite.dbdefinition.source"/>
<plugin id="org.eclipse.core.net"/>
<plugin id="org.eclipse.datatools.enablement.sybase.models.source"/>
<plugin id="org.eclipse.datatools.enablement.sybase.asa.ui.source"/>
<plugin id="org.eclipse.datatools.sqltools.sql"/>
<plugin id="org.eclipse.datatools.enablement.sap.maxdb.ui"/>
<plugin id="org.eclipse.datatools.connectivity.doc.user.contexts"/>
<plugin id="org.mortbay.jetty.util"/>
<plugin id="org.eclipse.emf.rap"/>
<plugin id="org.sat4j.pb"/>
<plugin id="org.eclipse.emf.importer.ecore.source"/>
<plugin id="org.eclipse.datatools.enablement.oracle.ui"/>
<plugin id="org.eclipse.jdt.debug.source"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.jsch.core"/>
<plugin id="org.eclipse.datatools.enablement.sap.maxdb.dbdefinition"/>
<plugin id="org.eclipse.equinox.p2.reconciler.dropins"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.luw"/>
<plugin id="org.eclipse.equinox.p2.jarprocessor"/>
<plugin id="org.eclipse.ecf"/>
<plugin id="org.eclipse.help.appserver"/>
<plugin id="org.eclipse.emf.mapping.ui"/>
<plugin id="org.eclipse.emf.mapping.ecore2xml.source"/>
<plugin id="org.eclipse.datatools.connectivity.apache.derby.dbdefinition.source"/>
<plugin id="org.eclipse.datatools.enablement.ibm.db2.luw.source"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="javax.xml"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="org.eclipse.help.webapp"/>
</includeBundles>
</target>
