<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
/**
 * <copyright>
 *
 * Copyright (c) 2002-2007 IBM Corporation and others.
 * All rights reserved.   This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *   IBM - Initial API and implementation
 *
 * </copyright>
 *
 * $Id: plugin.xml,v 1.2.2.3 2007/07/27 05:05:45 nickb Exp $
 */
-->

<plugin
   id="org.eclipse.emf.test.edit"
   name="%pluginName"
   version="2.0.3"
   provider-name="%providerName"
   class="org.eclipse.emf.test.edit.EMFTestEditPlugin">

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.emf.edit"/>
      <import plugin="org.junit"/>
   </requires>

   <runtime>
      <library name="test.edit.jar">
         <export name="*"/>
      </library>
   </runtime>
   
</plugin>
